.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}
.main h3{
line-height: 2;
}
.main .image{
    width: 600px;
}

.main .image img{
    transform: rotateY(-180deg)rotateZ(13deg);
    max-width: 100%;
}

@media(max-width:991px){
    .main{
        gap: 1.2rem;
    }
}
@media(max-width:767px){
    .main h3{
        text-align: center;
    }
    .main .image{
        display: none;
    }
}